@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: 0.3s ease-in-out;
}

.icon:hover {
    color: #77d8ae;
}

.code-block {
    background-color: rgba(181, 181, 181, 0.53);
    border-radius: 10px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.person-image {
    min-width: 20%;
    min-height: 20%;
    border-radius: 7px;
}

.person-image:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #313030;
}
